h3{
	font-family: Barrio,cursive;
}

h2{
	border: solid;
	background-color: black;

	color: whitesmoke;
	 border:  background: linear-gradient(right whitesmoke,black);
}


footer{
	background-color: black;
	color: whitesmoke;
}

.box1{
	border: solid;
	width: 200px;
	float: left;
	margin: 10px;

}

.box1:hover{
	background-color: gray;
}


h1{
	font-family: fantasy;
	word-spacing: 3px;


}

.image{
	width: 280px;
	height: 220px;
	margin: 10px;
	padding: 4px;
	border-radius: 8px;
	box-shadow: gray ;
	overflow: hidden;
}

.image:hover{
	transform: scale(2,1.5);
	transition: .3s transorm;
}